
.balance-view {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.budget, .expenses, .balance {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

#budget-output-amount {
    font-size: 1.5rem;
    color: green;
}

#expenses-output-amount {
    font-size: 1.5rem;
    color: darkred;
}

#balance-output-amount {
    font-size: 1.5rem;
    color: blue;
}