.expenses-view {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.expenses-view-header {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 30% 20% 30% max-content;
  gap: 0.5rem;
}

.expense-item {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 30% 20% 30% max-content max-content;
  gap: 0.5rem;
}

.expense-item {
  color: darkred;
}

.sort-expense {
    display: flex;
}
