
#budget-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.2rem solid green;
    color: green;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}