
#expense-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.2rem solid darkred;
    color: darkred;
}

.input {
    display: flex;
    flex-direction: column;
}